name: Fabric Deployment Trigger
on:
  push:
    tags:
      - 'deploy-a-*'  # Jeva Jenkins 'deploy-a-1' sarka tag push karel teva he suru hoil

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Get Fabric Token
        id: token
        run: |
          T=$(curl -s -X POST https://login.microsoftonline.com/${{ secrets.TENANT_ID }}/oauth2/token \
            -d "grant_type=client_credentials&client_id=${{ secrets.CLIENT_ID }}&client_secret=${{ secrets.CLIENT_SECRET }}&resource=https://analysis.windows.net/powerbi/api" | jq -r .access_token)
          echo "val=$T" >> $GITHUB_OUTPUT

      - name: Sync & Deploy
        run: |
          # 1. Sync Workspace DEV-A
          curl -X POST "https://api.fabric.microsoft.com/v1/workspaces/09426049-3a4b-4063-b35b-43928a03b21a/git/updateFromGit" \
          -H "Authorization: Bearer ${{ steps.token.outputs.val }}" \
          -H "Content-Type: application/json" -d '{"remoteCommitHash": "${{ github.sha }}"}'
          
          sleep 20
          
          # 2. Trigger Pipeline to QA-A
          curl -X POST "https://api.powerbi.com/v1.0/myorg/pipelines/2c6e8fa5-112c-4e07-8254-4f5ab8ed2f75/deploy" \
          -H "Authorization: Bearer ${{ steps.token.outputs.val }}" \
          -H "Content-Type: application/json" \
          -d '{"sourceStageOrder": 0, "isSourceJustNowUpdated": true, "note": "Auto-deploy via Jenkins"}'
